<div class="container_big-card">
    <div class="big-card_photo">
        <img src="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt=""
            srcset="">
    </div>
    <div class="big-card_title">
        <h1><a href="">Saiu uma nova versao do angular.</a></h1>
    </div>
    <div class="big-card_description">
        <a>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, quos. Ex sunt voluptatibus
                debitis? Fugiat magni esse totam eius ducimus alias quae. Aliquid quidem est voluptates ex explicabo
                veniam illum.</p>
        </a>
    </div>
</div>