

.container_smal-card{
    width: 700px;
    margin-bottom: 5px;
}

.container_smal-card-content{
    display: flex;
}

.small-card-photo img{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-hr-smal-card{
    margin-top: 5px;
}